@import url('https://fonts.googleapis.com/css2? família=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    background-color: #0F3CA6;
}

.cabecalho-logo{
    margin-left: 32px;
    height: 110px;
    border-width: 1px; border-color: Black;
}
.cabecalho-menu{
    margin-right: 50px;
   
    
}
.cabecalho-menu-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-right: 30px;
    color: #F28A2E;
    padding: 10px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 4px solid #F28A2E;
}

.noticias-texto{
    display: flex;
    flex-direction: row;  
    margin-left: 900px; 
    margin-top: 32px;
}

.conteudo-noticias{
    display: flex;
    gap: 42px 42px;
    margin-left: 300px;
}

.imagem{
    height: 290px;
    margin-top: 80px;
    border-width: 1px; border-color: Black;
}

.texto-segundario{
    margin-top: 250px;
    margin-left: 800px;
}
